.has-global-padding {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);

  & > .alignfull {
    margin-right: calc(var(--wp--style--root--padding-right) * -1);
    margin-left: calc(var(--wp--style--root--padding-left) * -1);
  }

  & :where(:not(.alignfull.is-layout-flow) > .has-global-padding:not(.wp-block-block, .wp-block-hero, .alignfull)) {
    padding-right: 0;
    padding-left: 0;
  }

  & :where(:not(.alignfull.is-layout-flow) > .has-global-padding:not(.wp-block-block, .wp-block-hero, .alignfull)) > .alignfull {
    margin-right: 0;
    margin-left: 0;
  }
}

:root {
  & :where(.is-layout-flow)  {
    & > :first-child {
      margin-block-start: 0;
    }

    & > :last-child {
      margin-block-end: 0;
    }
  }

  & :where(.is-layout-constrained) {
    & > :first-child {
      margin-block-start: 0;
    }

    & > :last-child {
      margin-block-end: 0;
    }
  }

  & :where(.is-layout-flex) {
    gap: 1.2rem;
  }

  & :where(.is-layout-grid) {
    gap: 1.2rem;
  }
}

.is-layout-flow {
  &  > .alignleft {
    float: left;
    margin-inline: 0 2em;
  }

  & > .alignright {
    float: right;
    margin-inline: 2em 0;
  }

  & > .aligncenter {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.is-layout-constrained {
  & > .alignleft {
    float: left;
    margin-inline: 0 2em;
  }

  & > .alignright {
    float: right;
    margin-inline: 2em 0;
  }

  & > .aligncenter {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  & > :where(:not(.alignleft, .alignright, .alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-right: auto !important;
    margin-left: auto !important;
  }

  & > .alignwide {
    max-width: var(--wp--style--global--wide-size);
  }
}

:where(.wp-block-columns.is-layout-flex) {
  gap: $grid-gutter-width;
}

.align-text-left {
  text-align: left;
}

.align-text-center {
  text-align: center;
}

.align-text-right {
  text-align: right;
}
