* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 56px;
}

h2 {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  width: 100%;
}

.px-root {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}


.is-style-lead {
  font-size: $font-size-lg;
  font-weight: 600;
}

.wp-block-group {
  overflow: hidden;

  @include heading-color-inherit;
}
