* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  width: 100%;
}

main {
  > * {
    &:where(:not(.alignleft, .alignright, .alignfull)) {
      max-width: var(--wp--style--global--content-size);
      margin-right: auto !important;
      margin-left: auto !important;
    }

    &.alignwide {
      max-width: var(--wp--style--global--wide-size)
    }
  }
}

.is-style-lead {
  font-size: $font-size-lg;
  font-weight: 600;
}

.spacing-outer {
  padding-right: var(--wp--custom--spacing--outer);
  padding-left: var(--wp--custom--spacing--outer);
}

.spacing-outer .alignfull,
.spacing-outer > .wp-block-group.has-background,
.spacing-outer > .wp-block-cover,
.spacing-outer > .wp-block-template-part > .wp-block-group.has-background,
.spacing-outer > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
  width: unset;
  margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
}

:where(.wp-block-columns.is-layout-flex) {
  gap: $grid-gutter-width;
}
