img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.is-small-text {
  font-size: 0.875rem;
}

.is-regular-text {
  font-size: 1rem;
}

.is-large-text {
  font-size: 2.25rem;
}

.is-larger-text {
  font-size: 3rem;
}
