/**
* Editor
*/

@import 'bootstrap/scss/functions';

@import 'config/variables';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/root';

.editor-styles-wrapper > * {
  @import 'bootstrap/scss/reboot';
  @import 'bootstrap/scss/type';
  @import 'bootstrap/scss/images';
  @import 'bootstrap/scss/containers';
  @import 'bootstrap/scss/grid';
  @import 'bootstrap/scss/tables';
  @import 'bootstrap/scss/forms';
  @import 'bootstrap/scss/buttons';
  @import 'bootstrap/scss/transitions';
  @import 'bootstrap/scss/dropdown';
  @import 'bootstrap/scss/button-group';
  @import 'bootstrap/scss/nav';
  @import 'bootstrap/scss/navbar';
  @import 'bootstrap/scss/card';
  @import 'bootstrap/scss/accordion';
  @import 'bootstrap/scss/breadcrumb';
  @import 'bootstrap/scss/pagination';
  @import 'bootstrap/scss/badge';
  @import 'bootstrap/scss/alert';
  @import 'bootstrap/scss/progress';
  @import 'bootstrap/scss/list-group';
  @import 'bootstrap/scss/close';
  @import 'bootstrap/scss/toasts';
  @import 'bootstrap/scss/modal';
  @import 'bootstrap/scss/tooltip';
  @import 'bootstrap/scss/popover';
  @import 'bootstrap/scss/carousel';
  @import 'bootstrap/scss/spinners';
  @import 'bootstrap/scss/offcanvas';
  @import 'bootstrap/scss/placeholders';

  @import 'bootstrap/scss/helpers/clearfix';
  @import 'bootstrap/scss/helpers/colored-links';
  @import 'bootstrap/scss/helpers/ratio';
  @import 'bootstrap/scss/helpers/position';
  @import 'bootstrap/scss/helpers/stacks';
  @import 'bootstrap/scss/helpers/visually-hidden';
  @import 'bootstrap/scss/helpers/stretched-link';
  @import 'bootstrap/scss/helpers/text-truncation';
  @import 'bootstrap/scss/helpers/vr';

  @import 'bootstrap/scss/utilities/api';

  @import 'common/mixins';
  @import 'common/global';
  @import 'components';
  @import 'blocks';

  font-family: $font-family-sans-serif;

  .block-editor-writing-flow > .block-editor-block-list__layout > .block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.wp-block-acf-button {
    display: inline-block;
    background-color: transparent !important;
  }

  .acf-block-preview a {
    pointer-events: none;
  }

  div.wp-block-acf-tiles-from-pages {
    background-color: transparent !important;
  }
}
