/**
* Editor
*/

/* Bootstrap */
@import "bootstrap/scss/functions";
@import 'config/variables';
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";

.editor-styles-wrapper > * {
  @import "bootstrap/scss/reboot";

  @import 'config/bootstrap/components';
  @import 'config/bootstrap/helpers';
  @import "bootstrap/scss/utilities/api";

  @import 'common/mixins';
  @import 'common/global';
  @import 'components';
  @import 'blocks';

  font-family: $font-family-sans-serif;

  .block-editor-writing-flow > .block-editor-block-list__layout > .block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.wp-block-acf-button {
    display: inline-block;
    background-color: transparent !important;
  }

  .acf-block-preview a:not(.acf-button) {
    pointer-events: none;
  }
}
